.ar-from-groups-component
{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.ar-from-groups
{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#242424, #242424) padding-box,
                linear-gradient(to left, #00C853, #B2FF59, #743ad5,#d53a9d) border-box;
    border-radius: 10px;
    border: 10px solid transparent;
}

.ar-inner-section
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80px;
}
.ar-inner-section button
{
    width: 25%;
    height: 50px;
    padding: auto;
    font-size: 0.9em;
}
.ar-inner-section select
{
    width: 25%;
    height: 50px;
}

@media only screen and (max-width: 1024px)
{
    .ar-from-groups-component
    {
        width: 95%;
        margin: auto;
    }
}