.fetch-component
{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.fetch-countries
{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#242424, #242424) padding-box,
                linear-gradient(to left, #743ad5, #d53a9d) border-box;
    border-radius: 10px;
    border: 10px solid transparent;
}
.fetch-buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px; 
    height: 50px;
}
.fetch-buttons select
{
    height: 32px;
    width: 25%;
}
.fetch-buttons input
{
    height: 32px;
    width: 25%;
}
.fetch-countries ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    border-radius: 10px;
}
.fetch-countries ul li
{
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.fetch-countries ul li:nth-child(odd)
{
    background-color: #2f2f2f;
}

.fetch-countries ul li p 
{
    width: 80%;
    text-align: left;
    margin-left: 20px;
}
.fetch-countries ul li button
{
    margin-right: 20px;
}

@media only screen and (max-width: 1024px) {
    .fetch-component
    {
        width: 95%;
        margin: auto;
    }
}