.groups-component
{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.groups
{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#242424, #242424) padding-box,
                linear-gradient(to left, #00C853, #B2FF59, #743ad5,#d53a9d) border-box;
    border-radius: 10px;
    border: 10px solid transparent;
}
.groups-buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px; 
    height: 50px;
}
.groups-buttons input
{
    height: 32px;
    width: 25%;
}
.groups-buttons button
{
    min-height: 40px;
    width: 25%;
}
.groups ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    border-radius: 10px;
}
.groups ul li
{
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.groups ul li:nth-child(odd)
{
    background-color: #2f2f2f;
}

.groups ul li p 
{
    width: 80%;
    text-align: left;
    margin-left: 20px;
}
.groups ul li button
{
    margin-right: 20px;
}

@media only screen and (max-width: 1024px)
{
    .groups-component
    {
        margin: auto;
        width: 95%;
    }
    .groups-buttons .per-page-select input
    {
        width:35px;
    }

}
