.save-component
{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.saved-cities
{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#242424, #242424) padding-box,
              linear-gradient(to left, #00C853, #B2FF59) border-box;
    border-radius: 10px;
    border: 10px solid transparent;
}

.saved-cities ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    border-radius: 10px;
}

.saved-cities ul li
{
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.saved-cities ul li:nth-child(odd)
{
    background-color: #2f2f2f;
}

.saved-cities ul li p 
{
    width: 80%;
    text-align: left;
    padding-left: 20px;
}
.saved-cities ul li button
{
    margin-right: 20px;
}