main
{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.countries-section
{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: auto;
}
.groups-section
{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: auto;
}

.per-page-select
{
    height: 30px;
    align-items: center;
    width: 25%;
}
.per-page-select input
{
    width: 50px;
}
.per-page-select label
{
    font-size: 0.9em;
    margin-right: 10px;
}
.info-msg
{
    color: greenyellow;
}

@media only screen and (max-width: 1024px) {
    .countries-section
    {
        flex-direction: column;
        justify-content: center;
    }
    .groups-section
    {
        flex-direction: column;
        justify-content: center;
    }
}